<div *ngFor="let blog of blogs$ | async; let first = first; let last = last; let i=index;" class="blog-list-item-container"
  [ngClass]="{'last-item': last}">
  <app-blog-list-item [blog]="blog"></app-blog-list-item>
</div>
<div class="pagination-container">
  <button class="previous-page" mat-button color="primary" (click)="previousPage()" [disabled]="disablePrevious">Previous</button>
  <a class="page-number" *ngFor="let page of pageNumbers" routerLinkActive="active" [routerLink]="['../', page]">{{page}}</a>
  <button class="next-page" mat-button color="primary" (click)="nextPage()" [disabled]="disableNext">Next</button>
</div>
