<div
  *ngFor="let blog of blogs$ | async; let last = last"
  class="blog-list-item-container"
  [ngClass]="{ 'last-item': last }"
>
  <app-blog-list-item [blog]="blog"></app-blog-list-item>
</div>
<div class="pagination-container unselectable" *ngIf="pageNumbers.length > 0">
  <button class="btn-page previous-page" (click)="previousPage()" [disabled]="disablePrevious">
    <<
  </button>
  <a
    class="page-number"
    *ngFor="let page of pageNumbers"
    (click)="gotoPage(page)"
    [ngClass]="{ 'active-page': isActivePage(page) }"
  >
    {{ page }}
  </a>
  <button class="btn-page next-page" (click)="nextPage()" [disabled]="disableNext">
    >>
  </button>
</div>
