.blog-list-item-container {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: #dadada 1px dotted;
}

.last-item {
  border-bottom: none;
}

.pagination-container {
  margin-bottom: 40px;
  text-align: center;

  .previous-page {
    margin-right: 15px;
  }

  .next-page {
    margin-left: 15px;
  }

  a.page-number {
    opacity: 0.6;
    padding: 0 10px;
    position: relative;
  }

  a.active-page {
    opacity: 1;

    &::after {
      content: '·';
      position: absolute;
      bottom: -15px;
      right: 16px;
      font-weight: bold;
      opacity: 0.4;
    }
  }
}
