.blog-list-item-container {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: #dadada 1px dotted;
}

.last-item {
  border-bottom: none;
}

.pagination-container {
  margin-bottom: 40px;
  text-align: center;

  .btn-page{
    border: none;
    font-size: 1rem;
    background-color: transparent;
    &:hover:enabled {
      color: #076DA6;
      cursor: pointer;
    }
    &:hover:disabled {
      cursor: default;
    }
  }

  .previous-page {
    margin-right: 15px;
  }

  .next-page {
    margin-left: 15px;
  }

  a.page-number {
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    &:hover:not(.active-page) {
      color: #076DA6;
    }
  }

  a.active-page {
    opacity: 1;
    cursor: default;

    &::after {
      content: '·';
      position: absolute;
      bottom: -15px;
      right: 16px;
      font-weight: bold;
      opacity: 0.4;
    }
  }
}
