.container {
  padding: 0 10%;
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
  z-index: 10;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  // align-content: center;
  place-self: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  grid-column: 1;
}

.blog {
  grid-column: 3;
}

.about {
  grid-column: 5;
}

.github{
  grid-column: 12;
  .mat-icon {
    vertical-align: -0.5rem;
  }
}