.side-nav {
  height: 100%;
  text-align: center;
  padding-top: 40%;
  background-color: black;

  .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  ul li {
    margin-top: 40px;

    a {
      color: white;
      position: relative;

      &.active::after {
        position: absolute;
        content: "";
        top: 23px;
        left: -13px;
        bottom: -5px;
        right: -14px;
        background-image: radial-gradient(circle, #ffffff 0%, rgb(84, 84, 84) 40%, transparent 100%);
      }
    }
  }
}
