@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import "./highlight.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Lato', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

.unselectable {
  user-select: none;
}

.blog-detail-content {
  div {
    p {
      line-height: 1.8rem;
      margin-bottom: 2rem;
      font-size: 20px;
      color: rgba(38, 41, 58, .8);
    }
  }
}
