@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import "./article-github-style.scss";
@import "./highlight.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Lato', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

.unselectable {
  user-select: none;
}
