<main class="blog-detail-container">
  <div *ngIf="blog">
    <h1 class="blog-detail-title">{{blog?.title}}</h1>
    <div class="blog-detail-meta">
      <span>{{blog?.createdDateDisplay}}</span>
      <span
        *ngFor="let label of blog.labels"
        class="label"
        [ngStyle]="label.labelStyle">
        #{{label.name}}
      </span>
    </div>
    <article class="markdown-body">
      <div [innerHTML]="blog.body | markdown"></div>
    </article>
    <div class="end-of-blog-container unselectable">
      <span class="end-of-blog">End</span>
    </div>
  </div>
</main>
