.blog-detail-container {
  width: 90%;
  margin: auto;

  .blog-detail-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .blog-detail-meta {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;

    .label {
      margin-left: 10px;
      display: inline-block;
      line-height: 1rem;
      padding: 0.15em 4px;
      border-radius: 2px;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .end-of-blog-container {
    margin-top: 2rem;
    text-align: center;

    .end-of-blog {
      position: relative;
      color: #d2d1d1;

      &::before {
        content: '';
        border-bottom: 1px dashed;
        position: absolute;
        right: 45px;
        top: 10px;
        left: -125px;
      }

      &::after {
        content: '';
        border-bottom: 1px dashed;
        position: absolute;
        right: -125px;
        top: 10px;
        left: 45px;
      }
    }
  }

  div.draft-blog {
    & > div {
      text-align: center;

      .back-to-list {
        margin-top: 20px;
      }
    }
  }
}
