.blog-detail-title {
  padding-top: 40px;
  font-size: 40px;
  margin-bottom: 10px;
}

.blog-detail-meta {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 10px;
  .blog-tag {
    margin-left: 10px;
  }
}
