.blog-detail-container {
  padding-right: 20%;
  margin-bottom: 15%;

  .blog-detail-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .blog-detail-meta {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;

    .blog-tag {
      margin-left: 10px;
    }
  }

  .end-of-blog-container {
    margin-top: 2rem;
    text-align: center;

    .end-of-blog {
      position: relative;
      color: #d2d1d1;

      &::before {
        content: "";
        border-bottom: 1px dashed;
        position: absolute;
        right: 45px;
        top: 10px;
        left: -125px;
      }

      &::after {
        content: "";
        border-bottom: 1px dashed;
        position: absolute;
        right: -125px;
        top: 10px;
        left: 45px;
      }
    }
  }
}
